<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matkaklubi</title>
  <%- include ("../partials/header") %>    
</head>
<body>

<div class="paissektsioon">
    <div class="container">
        <%- include ("../partials/pais") %>
        <div class="pealdis">
            <div class="pealdis-pealkirjad">
                <div class="rida1">
                    <h2>Matkaklubi</h2>
                    <div class="liblikas1"></div>
                </div>
                <div class="rida2">
                    <div class="liblikas2"></div>
                    <h1>Puhas higi</h1>
                </div>
                <div class="rida3">
                    <h3>
                        Tule koos meiega matkama
                    </h3>
                </div>
                <button class="nupp-paises">Vaata matkasid</button>

            </div>
            <div class="pealdis-pilt-ymbris">
                <div class="pealdis-pilt"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="matkad">
        <div class="col-md-4 card">
            <img class="card-img-top" src="./pildid/matkaja.png" alt="">
            <div class="card-body">
                <h4 class="card-title" >Matk läbi Eesti</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque expedita veniam repellat porro, quo hic fugiat ab, distinctio quod nulla vel laborum eius vero obcaecati architecto eos. Suscipit, neque at.
                </p>
                <a href="#" class="btn btn-primary">Registreeru</a>
            </div>
        </div>
        <div class="col-md-4 card">
            <img class="card-img-top" src="./pildid/matkaja.png" alt="">
            <div class="card-body">
                <h4 class="card-title" >Matk läbi Eesti</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque expedita veniam repellat porro, quo hic fugiat ab, distinctio quod nulla vel laborum eius vero obcaecati architecto eos. Suscipit, neque at.
                </p>
                <a href="#" class="btn btn-primary">Registreeru</a>
            </div>
        </div>
        <div class="col-md-4 card">
            <img class="card-img-top" src="./pildid/matkaja.png" alt="">
            <div class="card-body">
                <h4 class="card-title" >Matk läbi Eesti</h4>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque expedita veniam repellat porro, quo hic fugiat ab, distinctio quod nulla vel laborum eius vero obcaecati architecto eos. Suscipit, neque at.
                </p>
                <a href="#" class="btn btn-primary">Registreeru</a>
            </div>
        </div>
    </div>

</div>

<script src="matkaklubi.js"></script>
</body>
</html>
