<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header") %>
    <title>Matkaklubi - uudised</title>
    <script src="kontakt.js"></script>
</head>
<body>
<div class="container">
    <%- include ("../partials/pais") %>
    <h2>Matkaklubi uudised</h2>
    <div class="uudistevoog">
        <% for (const uudis of uudised) { %>
            <div class="uudis">
                <h3 class="uudis-pealkiri">
                    <%= uudis.pealkiri %>
                </h3>
                <div class="uudis-sisu">
                    <%= uudis.tekst %>
                </div>
            </div>
        <% } %>
    </div>
    
</div>
</body>

</html>